.App {
  text-align: center;
  /* background: linear-gradient(rgba(250,0,0,5), transparent); */
  /* background-color: #ffa500; */
  background: linear-gradient(to right top, black, orange);
}

/* body {
  background: linear-gradient(to right top, #051937, orange);
} */